html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  width: 35%;
  margin: 0 auto;
}
@media (max-width: 820px) {
  body {
    width: 75%;
  }
}
@media (max-width: 390px) {
  body {
    width: 90%;
  }
}

body {
  background: #eee;
}

:root {
  --dark-blue: #023047;
  --orange: #fb8500;
  --gray: #9a9a9a;
}

.card {
  margin: 5%;
}

.content {
  padding: 5%;
}

form {
  padding: 5%;
}

.btn,
.btn-add,
.btn-add:hover {
  box-shadow: none !important;
  color: white;
  background-color: var(--dark-blue);
  border: var(--dark-blue) 1px solid;
}
.btn-add:hover {
  background-color: var(--orange);
  border: var(--orange) 1px solid;
}

.tab .active,
.tab li:hover {
  color: var(--dark-blue);
  font-weight: bold;
  border-bottom: 3px solid var(--dark-blue);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.material-symbols-outlined {
  color: var(--dark-blue);
}

.material-symbols-outlined:hover {
  color: var(--orange);
}

.listElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 0;
  color: var(--dark-blue);
}

.listElement .checkbox .deleted {
  text-decoration: line-through;
  color: var(--gray);
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 5px;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px 25px 0 0;
}

.tab li {
  width: 100%;
  padding: 5%;
  text-align: center;
  color: var(--gray);
  border-bottom: 3px solid var(--gray);
}

hr {
  padding: 0;
  margin: 0;
}

.footer a,
.footer p {
  color: var(--dark-blue);
}

.footer a:hover {
  color: var(--orange);
}
